.DS_Store
**/__pycache__/
*.pyc
__pycache__
HydroGenerate.egg-info/
HydroGenerate/__pycache__/*
HydroGenerate/__pycache__/*
HydroGenerate/__pycache__/*
HydroGenerate/__pycache__/*
HydroGenerate/utils/__pycache__/*
